.repos-list {
  display: flex;
  flex-wrap: wrap;
}
.repos {
  margin: 25px;
}

.following-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

.following-button {
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.following-button:hover {
  background-color: #2980b9;
}


@media (max-width: 768px) {
  .following-buttons {
    flex-direction: column;
  }
}
